body{

}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
                0 4px 8px 0 rgba(0,0,0,.05), 
}

/* Aqui e a parte onde vai vim o JS, coloquei só para meu conteudo não fica colado no menu */
.bgf{
    /*background-color:#FF8C00; #8B4513 / #A0522D*/
    background-color:rgb(204,149,67);
    color:#1C1C1C;
}
.l {
    color:rgb(204,149,67);
}
.rafael{
    background-color:#FF8C00;
    width:auto;
    height: 400px;
}
/*fim da area do JS Rafael*/

.planejados {
    background-size:100% 100%;
    background-image:url(../images/planejados.jpg);
    background-repeat:no-repeat;
    width:100%;
    height: 30.8em;
}
.planejados:hover {
    box-shadow: inset 10px 200px 200px 10px #fff;
}
.moveis {
    background-size:100% 100%;
    background-image:url(../images/52825826_564805314030104_2139161311345377280_n.png);
    background-repeat:no-repeat;
    width:100%;
    height: 30.8em;    
}
.corporativo {
    background-size:100% 100%;
    background-image:url(../images/empresas.png);
    background-repeat:no-repeat;
    width:100%;
    height: 30.8em;
}
.servicos {
    background-size:100% 100%;
    background-image:url(../images/servicos.png);
    background-repeat:no-repeat;
    width:100%;
    height: 30.8em;    
}
.solar {
    background-size:100% 100%;
    background-image:url(../images/solar.png);
    background-repeat:no-repeat;
    width:100%;
    height: 30.8em;    
}
.fpedidos {
    background-size:100% 150%;
    background-image:url(../images/uniq_fundo.jpeg);
    background-repeat:no-repeat;
    width:100%;
    height: 30.8em;
    background-attachment:fixed;
}
/*
cor box shadow #E0FFFF #696969
*/
.bbtnb{
    color:black;
    margin-top:2em;
    box-shadow: inset 110px 100px 100px 150px #E0FFFF;
    background-attachment:fixed;
}
.pb{
    margin-top:2em;
    background-size:100% 100%;
    background-image:url(../images/planebg.jpg);
    background-repeat:no-repeat;
    box-shadow: inset 110px 100px 100px 150px #E0FFFF;
    height: 30.8em;
    background-attachment:fixed;
}

/*Trigger*/
#dplustrigger-enviando{
    background-color: #ff7d27;    
}
#dplustrigger-sucesso{
    background-color: #008200;    
}
#dplustrigger-erro{
    background-color: #b43d3d;    
}
.jdplustrigger{
    bottom:0;
    position: fixed bottom;
    width 100%;
    display:none;
}
.dplustrigger-text{
    text-align: center;
    font-family: sans-serif;
    color:#fff;
}            
