body{
    font-family: 'IBM Plex Mono SemiBold', monospace;
    padding-bottom:0px;
    margin: 0;
    overflow-x:hidden;
}
.nf{
    background-color:#d9ae61;
}
.borda{
    width:40px;
    background-color:rgb(223,143,32);
    height: 2px;
    padding-top: 0px;
}
.grupo {
    background-size:100% 100%;
    background-image:url(../images/grupo_UniQ_fundo.png);
    background-repeat:no-repeat;
}
.btn-trans{
    width: 97%;
    transition: .8s;
}
.btn-trans:hover{
    width: 100%;
    transition: .8s;
}
.imagens-link{
    width: 97%;
    transition: .8s;
}
.imagens-link:hover{
    width:100%;
    transform: translate3d(10,100,0);
	transition: .8s;
}
.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
                0 4px 8px 0 rgba(0,0,0,.05), 
}
/* Aqui e a parte onde vai vim o JS, coloquei só para meu conteudo não fica colado no menu */
.bgf{
    /*background-color:#FF8C00; #8B4513 / #A0522D #F5DEB3 #FFDAB9 rgb(204,149,67)*/
    background-color:rgb(223,143,32);
    color:#1C1C1C;
}
.l {
    color: rgb(223,143,32);
    font-size: 1.4em;
    font-family: sans-serif;
}
.rafael{
    background-color:#FFDAB9;
    width:auto;
    height: 400px;
}
/*fim da area do JS Rafael*/
.planejados {
    background-size:100% 30.8em;
    background-image:url(../images/bg/uniq_planejados.png);
    background-repeat:no-repeat;
}
.planejados:hover {
    box-shadow: inset 550px 550px 550px 550px rgba(217, 174, 97, .5);
}
.moveis {
    background-size:100% 30.8em;
    background-image:url(../images/bg/uniq_moveis.png);
    background-repeat:no-repeat;
}
.moveis:hover {
    box-shadow: inset 550px 550px 550px 550px rgba(214,248,214, .7);
}
.corporativo {
    background-size:100% 100%;
    background-image:url(../images/bg/uniq_corporativo.png);
    background-repeat:no-repeat;
}
.corporativo:hover{
    box-shadow: inset 550px 550px 550px 550px rgba(30, 0, 14, .5);
}
.servicos {
    background-size:100% 100%;
    background-image:url(../images/servicos.png);
    background-repeat:no-repeat;   
}
.servicos:hover{
    box-shadow: inset 550px 550px 550px 550px rgba(246, 255,241, .7);
}
.solar {
    background-size:100% 100%;
    background-image:url(../images/solar.png);
    background-repeat:no-repeat;    
}
.solar:hover{
    box-shadow: inset 550px 550px 550px 550px rgba(107,170,117, .7);
}
.bg-pri{
    background-color:#573d1c;
}
.fpedidos {
    background-size:100% 100%;
    background-image:url(../images/fpedidos.png);
    background-repeat:no-repeat;
}
.marginadd{
    margin-top:8em;
}
/*
cor box shadow #E0FFFF #696969 voltado para pagina planejados
*/
.bbtnb{
    color:black;
    margin-top:2em;
    box-shadow: inset 110px 100px 100px 150px #E0FFFF;
    background-attachment:fixed;
}
/*
controlando width do video
*/

.pb{
    margin-top:2em;
    background-size:100% 100%;
    background-image:url(../images/fplanejados1.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    box-shadow: inset 550px 550px 550px 550px rgba(87, 61, 28, .5);
}
.ambientes{
    max-width: 90%;
    box-shadow: 10px 10px 10px  #573d1c;
}
.ambientes:hover{
    cursor: pointer;
    box-shadow: inset 110px 100px 100px 150px #d9ae61;
    opacity: 1;
}
.portifoliof{
    background-size:100% 100%;
    background-image:url(../images/52825826_564805314030104_2139161311345377280_n.png);
    background-repeat:no-repeat;
    width:100%;
    height: 100%; 
    box-shadow: inset 550px 550px 550px 550px rgba(87, 61, 28, .8);   
}
/*
voltado para pagina planejados
*/
/* Portifolio definindo fundo para cada modal*/
/* Não indicado mais feito alteração no boostrap*/
.b-link:hover{
    border-bottom: solid 3px rgb(223,143,32);
    transform: translate3d(0,10,0);
	transition: .8s;
}
.portifolio1 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_1.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio2 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_2.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio3 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_3.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio4 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_4.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio5 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_5.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio6 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_6.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio7 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_7.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio8 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_8.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio9 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_9.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio10 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_10.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio11 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_11.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio12 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_12.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio13 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_13.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio14 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_14.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio15 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_15.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio16 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_16.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio17 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_17.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.portifolio18 {
    background-size:100% 31em;
    background-image:url(../images/servicos/servico_18.jpg);
    background-repeat:no-repeat;
    background-position: center;
}
.control-ico{
    max-width: 40%;
    cursor:pointer;
}
/* Fim - Cada modal tem um fundo diferente */


@media (max-width: 900px) {
    
}        
/* cooporativo*/
.pbc{
    margin-top:2em;
    background-size:100% 100%;
    background-image:url(../images/corporativo/desenho_predio.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    box-shadow: inset 550px 550px 550px 550px rgba(244, 247, 190, .5);
}
.pg-empresa{
    background-image:url(../images/corporativo/FotodeStockSnap.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
    box-shadow: inset 550px 550px 550px 550px rgba(244, 247, 190, .5);
}
.connn{
    max-width:350px;
}
.text-coporativo{
    color:#1e000e;
}
.corporativo-bg{
    
    background-color:#e5f77d;
}
/* solar*/
.headesolar-fundo{
    background-size:100% 100%;
    background-image:url(../images/solar/header_f1.jpg);
    margin-top:2em;
    background-repeat:no-repeat;
    background-attachment:fixed;
    box-shadow: inset 550px 550px 550px 550px rgba(0, 0, 0, .5);
}
.pontilhado{
    background: #fff;
    border-bottom-style: dashed;
    border-color:rgb(204, 225, 51);
    height: 50px;
    z-index: 1;
}
.fundo_dark{
    margin:0;
    background: #fff;
    border-color:rgb(204, 225, 51);
    height: 50px;
    z-index: 1;
}
.fundo_solar{
    background-color: rgb(204, 225, 51);
    width: auto;
}
#anime-fotovoltaico{
    background-color: rgb(204, 225, 51);
    width: auto;
}
.pontilhado_azul{
    background: #fff;
    border-bottom-style: dashed;
    border-color:rgb(204, 225, 51);
    height: 50px;
    z-index: 1;
}
/* abplicar JS aqui */
.anime-fotovoltaicoazul{
    background-color: rgb(204, 225, 51);
    width: auto;
}
.fotovoltaico-start{
    transition: .3s;
    opacity: 1;
    
}
/* abplicar JS aqui */
.borda-col{
    border-bottom-style: dashed;
    border-color:rgb(204, 225, 51);
}
.sombra-img{
       box-shadow: inset 19px 0px 20px 6px rgb(204, 225, 51);
}
.centralizar-sm{
    margin-left: 8em !important;
}
.ajuste{
    color:rgb(204, 225, 51);
    border-bottom-style: double;
    border-color:rgb(204, 225, 51);
    width: 20%;
    margin-left: 3em;
}
.numeros-encima {
    margin-right: 1000px !important;
    max-width:50px;
}
/* retorno para o cliente ao preenche o formulario pagina pedidos*/
#j_sucesso, #j_enviando, #j_error{
    display:none;
}
/* Pagina contrução e serviços*/
.servicos-bg{
    background-size: 100% 100%;
    background-image:url(../images/servicos.png);
    background-repeat: no-repeat;
}
.borda-cons{
    height: 10px;
    background-color:#084dbe;
}
.construcao-1{
    background-size:100% 100%;
    background-image: url(../images/construcao/construcao_civil.png);
    background-repeat:no-repeat;
    height: 10.8em;
}
.construcao-2{
    background-size:100% 100%;
    background-image: url(../images/construcao/instalacao-hidraulicas.jpg);
    background-repeat:no-repeat;
    height: 10.8em;
}
.construcao-3{
    background-size:100% 100%;
    background-image: url(../images/construcao/drywall.png);
    background-repeat:no-repeat;
    height: 10.8em;
}
.construcao-4{
    background-size:100% 100%;
    background-image: url(../images/construcao/manutencao-predial.jpeg);
    background-repeat:no-repeat;
    height: 10.8em;
}
.construcao-5{
    background-size:100% 100%;
    background-image: url(../images/construcao/desenho_predio2.png);
    background-repeat:no-repeat;
    height: 10.8em;
}
.construcao-6{
    background-size:100% 10.8em;
    background-image: url(../images/construcao/reforma-de-casa.jpg);
    background-repeat:no-repeat;
}
.construcao-1, .construcao-2, .construcao-3,.construcao-4,.construcao-5,.construcao-6:hover{
    cursor: pointer;
}
.sombra-branca, .sombra-branca-2,.sombra-branca-3,.sombra-branca-4,.sombra-branca-5,.sombra-branca-6{
    background-color:#084dbe;
   box-shadow: -20px 10px 10px 20px #084dbe; 
   display:none;
}
.bg-construcao{
    background-size:100%  30.8em;
    background-image: url(../images/construcao/rd\ \(11\).jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 15px rgb(8,77,110);
}
.texto-constr{
    color:#084dbe;
}
/*fim*/
.controlm{
    width:40%
}
ul{
    margin-top:1em;
    padding:0;
    list-style:none;
    display: inherit;
}
li a{
    display: inline;
    cursor:pointer;
}
#legenda_foto, #legenda_foto2{
    width: 350px;
    padding:5px;
    background-color:#A9A9A9;
    margin-top:1em;
}
#foto_principal, #foto_principal2{
    width: auto;
    max-width: 700px;
}
.galeria, .galeria2{
    width: auto;
    margin:0 auto;
}
#glass {
    position:absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display:none;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.6);
}
.bg-moveis{
    background-size:100% 100%;
    background-image:url(../images/bg/uniq_moveis.png);
    background-repeat:no-repeat;
    /*box-shadow: inset 50px 50px 55px 55px rgb(128,128,128);*/
}

@media (max-width:1000px){
    /*.bg-moveis{
        height: 28em;
    }*/
    .icon{
        width: 65%;
    }
    .control-video{
        max-width: 280px;
    }
}
.bg-moveisgray{
    background-color: rgb(128,128,128);
}
.bg-aparador{
    background-color: rgb(28,28,28);
}
.icon{
    max-width: 100%;
    height: auto;
    margin-top:9em;
}
.escritamoveis{
    color:#696969;
}
.paletamoveis{
    background-color:#7fc6a4;
}
.parte2{
    margin-top:-50px;
    padding-top:80px;
    background-color:#faf33e;
    padding-bottom:40px;
}
.addmargin{
    margin-top:120px;
}
.addmarginb{
    padding-bottom: 120px
}
.paleta2moveis{
    background-color:#c0d8e0;
}
.menu-nulo{
    display:none;
}
.ativo{
    border-bottom: solid 3px rgb(223,143,32);
    transform: translate3d(0,10,0);
	transition: .8s;
}
.js-right{
    opacity:0;
    transform: translate3d(-100px, 0, 0);
    transition:3s;
}
.js-left{
    opacity:0;
    transform: translate3d(0, 0, 0 );
    transition: 4s;
}
.js-ativo{
    opacity:1;
    transform: translate3d(0,0,0);
}
.linha-abaixo-moveis{
    width: 5rem;
    border: solid 5px rgb(128,128,128);
}
